- provide :title, 'Funding for students who are in need'

%section#pages-index
  %header.row
    .centerify
      %h3
        Help and Fund Scholars with Bracket'D
  

  .row
    .centerify
      = image_tag 'separator.png', class: 'separator'

  .row
    .twelve.mobile-one.columns
      - @scholars.each do |scholar|
        .four.mobile-two.columns
          = render 'scholars/scholar', scholar: scholar
    .clearfix
    .right
      -#= link_to 'View all ->', scholars_path


