- provide :title, 'Funding for students who are in need'

%section#pages-index
  .row
    = image_tag 'separator.png', class: 'separator'

  .row
    .twelve.mobile-one.columns
      - @scholars.each do |scholar|
        .four.mobile-two.columns
          = render 'scholars/scholar', scholar: scholar
    .clearfix
    .right
      -#= link_to 'View all ->', scholars_path


