/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require jackedup
 *= require_tree .
 */

@import 'foundation-icons';

.clearfix {
  clear: both !important;
}//class clearfix

.centerify {
  margin: 0 auto;
  text-align: center;
}//class centerify

.full {
  width: 100% !important;
}//class full

* {
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif !important;
  color: rgba(34, 34, 34, 0.9);
}//element body

textarea {
  resize: none !important;
}//element textarea

.no-padding-left {
  padding: 0px 0px 0px 13px !important;
}//class no-padding-left

.no-padding-right {
  padding: 0px 13px 0px 0px !important;
}//class no-padding-right

.no-padding {
  padding: 0px !important;
}//class no-padding
