@import 'mixins';

section#pages-index {

  small {
    font-size: 12px;
    font-weight: bold;
  }//element small

  img { 
    width: 100%; 
    @include border-radius(5px);
    margin-bottom: 20px;
    height: 200px;
    border: 1px solid rgba(32, 32, 32, 0.1);

    &.separator {
      height: initial;
      border: 0px;
    }//class separator

  }//element img

  .four {
    width: 31%;
    margin: 0px 10px;
    border: 1px solid #CCC;
    background: rgba(222, 222, 222, 0.5);
    padding: 15px;
    @include border-radius(10px);
  }//class four

  a {
    h4 { &:hover { text-decoration: underline; } }//element h4 selector hover
  }//element a

  .right { margin: 15px 20px; }//class right

}//element section id pages-index

footer#pages-index {
  

  small {
    font-size: 12px;
    letter-spacing: 1px;
  }//element small

}//element footer id pages-index
