@import 'mixins';

a.fb_share {

  img {

    width: initial !important;
    height: initial !important;
    border: 0px !important;

  }//element img

}//element a class fb_share

section#scholar-show {

  img.profile {
    width: 100%;
    @include border-radius(5px);
    height: 100%;
    border: 1px solid rgba(32, 32, 32, 0.1);

  }//element img

  #main {
    background: #EFF0F0;
    margin: 5px 0px;
    border: 1px solid #BCBCBD;
    @include border-radius(7px);
    padding: 15px 0px;
  }//class twelve id main

  .progress {
    margin: 10px auto;
  }//class progress

  h4 {
    font-weight: bold;
    margin: 15px 0px;
    font-size: 36px;
  }//element h4

  .separator {
    margin: 25px auto;;
    border: 1px dotted #CCC;
    text-align: center;
  }//class separator

  #detail {
    background: #FFFFFF;
    border: 1px solid #C2C3C2;
    padding: 25px;
    @include box-shadow(0 1px 3px #CDCFCE);
    @include border-radius(5px);

    p {
      margin-top: 5px;
    }//element p
  }

  .four {
    margin: 10px 0px;
  }//class four

}//element section id scholar-show

.social {
  margin-top: 25px;
}//class shared
